*,*::before,*::after{padding:0px;margin:0px;box-sizing:border-box;list-style:none;vertical-align:baseline}body{background-color:#eef0f2}button{border:none;background-color:rgba(0,0,0,0);cursor:pointer}a{text-decoration:none;color:rgba(21,21,21,.87)}
.carousel {
  position: relative;
  text-align: center;
  box-sizing: border-box;
}

.carousel * {
  box-sizing: border-box;
}

.carousel__track {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.carousel__viewport {
  overflow: hidden;
}
:root {
  /* Color */
  --vc-clr-primary: #642afb;
  --vc-clr-secondary: #8e98f3;
  --vc-clr-white: #ffffff;

  /* Icon */
  --vc-icn-width: 1.2em;

  /* Navigation */
  --vc-nav-width: 30px;
  --vc-nav-color: #ffffff;
  --vc-nav-background-color: var(--vc-clr-primary);

  /* Pagination */
  --vc-pgn-width: 10px;
  --vc-pgn-height: 5px;
  --vc-pgn-margin: 5px;
  --vc-pgn-border-radius: 0;
  --vc-pgn-background-color: var(--vc-clr-secondary);
  --vc-pgn-active-color: var(--vc-clr-primary);
}
.carousel__prev,
.carousel__next {
  background-color: var(--vc-nav-background-color);
  border-radius: var(--vc-nav-width);
  width: var(--vc-nav-width);
  height: var(--vc-nav-width);
  text-align: center;
  font-size: calc(var(--vc-nav-width) * 2 / 3);
  padding: 0;
  color: var(--vc-nav-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 0;
  cursor: pointer;
}

.carousel__prev {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.carousel__next {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.carousel--rtl .carousel__prev {
  left: auto;
  right: 0;
  transform: translate(50%, -50%);
}

.carousel--rtl .carousel__next {
  right: auto;
  left: 0;
  transform: translate(-50%, -50%);
}
.carousel__pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}
.carousel__pagination-button {
  margin: var(--vc-pgn-margin);
  width: var(--vc-pgn-width);
  height: var(--vc-pgn-height);
  border-radius: var(--vc-pgn-height);
  border: 0;
  cursor: pointer;
  background-color: var(--vc-pgn-background-color);
}

.carousel__pagination-button--active {
  background-color: var(--vc-pgn-active-color);
}
.carousel__icon {
  width: var(--vc-icn-width);
  height: var(--vc-icn-width);
  fill: currentColor;
}
.carousel__slide {
  scroll-snap-stop: auto;
  flex-shrink: 0;
  margin: 0;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.on_tab[data-v-c8b6a060]{color:#1b52ed;font-weight:bold}a[data-v-c8b6a060]{color:rgba(21,21,21,.87)}nav[data-v-c8b6a060]{height:45px;background-color:#fff;display:flex;align-items:center}.nav_fixed[data-v-c8b6a060]{position:fixed;top:0;width:100%;z-index:1}.navi_item[data-v-c8b6a060]{display:inline-block;min-width:72px;font-weight:bold;font-size:17px}
button[data-v-3976e7aa]{border:none}.hamburger[data-v-3976e7aa]{position:relative;display:block;width:20px;height:16px;border-top:2px solid #497db0;border-bottom:2px solid #497db0;border-radius:1px}.hamburger[data-v-3976e7aa]::after{width:20px;height:5px;border-bottom:2px solid #497db0;position:absolute;top:2px;left:0px;display:block;content:""}
.magnifier[data-v-a3f44256]{background:url("https://m.hub.zum.com/resources/build/mobile/images/spr_header_190402.png?v=1661217438830") no-repeat;width:20px;height:19px;overflow:hidden;background-position:-25px -22px;background-size:101px 85px;display:block}
.zum_logo[data-v-828e06c6]{background:url("https://m.hub.zum.com/resources/build/mobile/images/spr_header_190402.png?v=1661217438830") no-repeat}.zum_logo[data-v-828e06c6]{width:18px;height:18px;background-position:0 0;background-size:101px 85px;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}
.close[data-v-9630685e]{background:url("https://m.hub.zum.com/resources/build/mobile/images/spr_header_190402.png?v=1661217438830") no-repeat;width:15px;height:15px;overflow:hidden;background-position:-74px -22px;background-size:101px 85px;display:block}
.overlay[data-v-3df6ac95]{width:100%;height:100%;background-color:#252d35;opacity:.4;position:fixed}
.side_menu_wrapper[data-v-1eb41894]{display:flex}nav[data-v-1eb41894]{width:47vw;height:100%;position:fixed;background-color:#fff;color:#497db0;top:0;left:59%;z-index:2;font-size:1.1rem;padding:20px}nav ul li[data-v-1eb41894]{margin:10px 0px}a[data-v-1eb41894]{color:#497db0}
.header_top[data-v-6a1ac21a]{display:flex;justify-content:space-between;align-items:center;padding-right:6px;background-color:#fff;border-bottom:1px solid #e6e6e6}.header_item_wrapper[data-v-6a1ac21a]{display:flex;justify-content:space-between;align-items:center;font-size:21px}.header_item_wrapper a[data-v-6a1ac21a]{color:#497db0}.left[data-v-6a1ac21a]{width:98px}.right[data-v-6a1ac21a]{padding:0 7px;width:68px}.logo_wrapper[data-v-6a1ac21a]{width:48px;height:48px;position:relative;display:inline-block;background-color:#497db0}
.search_bar[data-v-78d96b47]{color:#497db0;height:46px;position:relative}input[type=text][data-v-78d96b47]{outline:none;border:2px solid #497db0;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:94vw;height:76%;padding:0 8px;font-weight:bold}.magnifier_wrapper[data-v-78d96b47]{background-color:#fff;position:absolute;left:90%;top:32%}
.carousel_track[data-v-e4bc6bc6]{display:flex;position:relative;overflow:hidden;border:1px solid #7fff00}.carousel_slide[data-v-e4bc6bc6]{scroll-snap-stop:auto;flex-shrink:0;margin:0;position:relative;display:flex;justify-content:center;align-items:center}
header[data-v-fd645e6e]{background-color:#fff}
.skeleton[data-v-2c9156e2]{width:100%;height:100%;animation:skeleton-gradient-2c9156e2 1.8s infinite ease-in-out}@keyframes skeleton-gradient-2c9156e2{0%{background-color:rgba(165,165,165,.24)}50%{background-color:rgba(138,138,138,.5)}100%{background-color:rgba(165,165,165,.2)}}
.img_wrapper[data-v-1586ec43]{display:inline-block;overflow:hidden;width:var(--79b10a31);height:var(--babd7bc8)}.img_wrapper img[data-v-1586ec43],.img_wrapper div[data-v-1586ec43]{width:100%;height:100%;-o-object-fit:cover;object-fit:cover}.img_wrapper .error_msg_wrapper[data-v-1586ec43]{width:100%;height:100%;border:1px solid #e6e6e6;color:#3b3b3b;text-align:center;display:flex;align-items:center}
.main_content_wrapper[data-v-c0f5aed0]{margin:2vw 0}.main_content_item_wrapper[data-v-c0f5aed0]{position:relative;width:100%;height:100%}.main_content_text[data-v-c0f5aed0]{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);color:#fff;font-size:1.1rem;width:67%}.author_wrapper[data-v-c0f5aed0]{position:absolute;top:80%;left:50%;transform:translateX(-50%);font-size:.94rem;color:rgba(255,255,255,.81)}.author_wrapper em[data-v-c0f5aed0]{color:rgba(255,255,255,.67)}
.postitem_wrapper[data-v-74ddc7d7]{display:flex;align-items:center}.rank_wrapper[data-v-74ddc7d7]{color:#497db0;font-size:1.05rem;width:24px;position:relative;top:-9px}.title_wrapper[data-v-74ddc7d7]{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%}.title_wrapper strong[data-v-74ddc7d7]{font-weight:normal;color:#3b3b3b}.author_wrapper[data-v-74ddc7d7]{font-size:.87rem;color:#497db0}
.top_posts_wrapper[data-v-31b07772]{padding:2vh 3vw;margin-top:10px;background-color:#fff;margin-top:10px}.top_posts_wrapper h4[data-v-31b07772]{margin-bottom:3vw}ul li[data-v-31b07772]{padding:11px 0;border-top:1px solid #ededed}
strong[data-v-1e3d655c]{overflow:hidden;text-overflow:ellipsis;color:#3b3b3b;font-weight:normal;display:-webkit-box;-webkit-line-clamp:var(--07284e1d);-webkit-box-orient:vertical}.author_wrapper[data-v-1e3d655c]{font-size:.87rem;color:#497db0}
.tag_content_wrapper[data-v-2f888a50]{padding:2vh 3vw;margin-top:10px;background-color:#fff}.tag_content_wrapper h4[data-v-2f888a50]{color:#497db0;margin-bottom:3vw}.tag_content[data-v-2f888a50]{display:grid;grid-template-columns:repeat(2, 1fr);grid-template-rows:repeat(2, 1fr);gap:20px 8px}
.refresh[data-v-d4e8b5fe]{background:url("https://m.hub.zum.com/resources/build/mobile/images/spr_footer_191212.png?v=1661217438830");background-size:30px 55px}.refresh[data-v-d4e8b5fe]{width:17px;height:18px;background-position:0 0;display:block}
.font_louder[data-v-5926a36c]{background:url("https://m.hub.zum.com/resources/build/mobile/images/spr_footer_191212.png?v=1661217438830") no-repeat;background-size:30px 55px}.font_louder[data-v-5926a36c]{width:28px;height:15px;background-position:0 -40px}
.font_louder[data-v-34ca3862]{background:url("https://m.hub.zum.com/resources/build/mobile/images/spr_footer_191212.png?v=1661217438830") no-repeat;background-size:30px 55px}.font_louder[data-v-34ca3862]{width:22px;height:12px;background-position:0 -23px;opacity:.5}
footer[data-v-414d291c]{padding:0 3vw;padding-bottom:1vh}.footer_top[data-v-414d291c]{display:flex;justify-content:space-between;border-bottom:1px solid #e6e6e6;padding:10px 0}.font_size_controller_wrapper[data-v-414d291c]{display:flex;align-items:center}.footer_bottom[data-v-414d291c]{position:relative}.footer_bottom .footer_bottom_content1[data-v-414d291c]{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);display:flex;justify-content:space-between;width:55vw}.footer_bottom .footer_bottom_content2[data-v-414d291c]{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);display:flex;justify-content:center;color:rgba(0,0,0,.54);font-size:.6rem;display:flex;justify-content:center;width:52vw}.footer_bottom .bold[data-v-414d291c]{font-weight:bold;font-size:.8rem}.footer_button[data-v-414d291c]{display:flex;justify-content:center;align-items:center;height:30px;background-color:#fff;border:1px solid #e6e6e6;color:rgba(0,0,0,.54)}
