$main-color: #1b52ed;
$font-color: rgb(59, 59, 59);
$line-color: #ededed;
$darker-gray: #e6e6e6;
$mobile-main-color: #497db0;
$overlay-background-color: #252d35;
$nav-font-color: rgba(21, 21, 21, 0.87);
$light-font-color: rgba(0, 0, 0, 0.54);
